.ItemList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemDeList {
    margin: auto;
    border: 1px solid black;
    border-radius: 10%;
    border-width: 0.5rem;
    padding: 2rem;

}

.itemDeList img {
    width: 14rem;
    height: 15rem;
    object-fit: cover;
    
}